
{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@next/next/recommended"
  ],
  "plugins": ["react", "@typescript-eslint", "import", "react-hooks"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": { "jsx": true },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "no-restricted-imports": ["warn", { "patterns": ["./*","../*"] }],
    "import/no-default-export": ["error"] ,
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "varsIgnorePattern": "_",
        "argsIgnorePattern": "_"
      }
    ],
    "no-duplicate-imports": 2,
    "@typescript-eslint/explicit-function-return-type": ["off"],
    "react-hooks/rules-of-hooks": "error"
  },
  "overrides": [
    {
      "files": ["**/pages/**"],
      "rules": {
        "import/no-default-export": "off"
      }
    },
    {
      "files": ["packages/shared/**"],
      "rules": {
        "no-restricted-imports": "off"
      }
    },
    {
      "files": ["packages/shared/front/api/**"],
      "rules": {
        "import/no-default-export": "off"
      }
    },
    {
      "files": ["packages/shared/front/libs/aspida/api/$api.ts"],
      "rules": {
        "import/no-default-export": "off"
      }
    },
    {
      "files": ["**.stories.tsx"],
      "rules": {
        "import/no-default-export": "off"
      }
    }
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
